body {
    position: relative; 
}

/*sections - add background and text colors, extend height based on content*/
#section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;overflow:hidden;
height:1%;}
#section2 {padding-top:50px;height:900px;color: #fff; background-color: #673ab7;overflow:hidden;
height:1%;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;overflow:hidden;
height:1%;}
#section4 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;overflow:hidden;
height:1%;}
#section5 {padding-top:10px;height:10px;color: #fff; background-color: #000000;overflow:hidden;
height:1%;}

h4{
  text-align: center;
}

.navLink {
  color: white;
  text-decoration: underline;
}

/*bullets in research*/
ul{
  list-style-type:disc;
}

/*Gallery with thumbnails*/
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/*footer with social links*/
.footer {
  background: #061D25;
  padding: 10px 0;
}
.footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid #70726F;
}
.footer a:hover {
  color: white;
}

