<section id="two">
  <div class="container">
    <h3>Current Research</h3>
    {% for project in site.data.current_research %}
    <div class="features">
      <article>
        <a href="{{ post.url | relative_url }}" class="image">
          <img src="/assets/images/{{ project.id }}.jpg" alt="">
        </a>
        <div class="inner">
          <h4>{{ project.name }}</h4>
          <p>{{ project.description}}</p>
        </div>
      </article>
    </div>
    {% endfor %}
    <a href="/research">More on my research.</a>
  </div>
</section>
